image: gradle:8-jdk21-alpine

before_script:
  - export GRADLE_USER_HOME="$(pwd)/.gradle"
  - mkdir -p $GRADLE_USER_HOME
  - touch $GRADLE_USER_HOME/gradle.properties
  - mkdir -p ~/plugins
  - echo "timesnakePluginDir=~/plugins" >> $GRADLE_USER_HOME/gradle.properties
  - echo "timesnakeUser=gitlab-ci-token" >> $GRADLE_USER_HOME/gradle.properties
  - echo "timesnakePassword=$CI_JOB_TOKEN" >> $GRADLE_USER_HOME/gradle.properties


cache:
  paths:
    - .gradle/wrapper
    - .gradle/caches

stages:
  - build
  - deploy

build:
  stage: build
  script: gradle --build-cache assemble
  cache:
    key: "$CI_COMMIT_REF_NAME"
    policy: push
    paths:
      - build
      - .gradle
  tags:
    - gradle
  only:
    - tags


publish:
  stage: deploy
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v?\d+\.\d+(\.\d+)?$/'
  script:
    - gradle publish
  cache:
    key: "$CI_COMMIT_REF_NAME"
    policy: push
    paths:
      - build
      - .gradle
  tags:
    - gradle


